<!-- CONTACT SECTION -->

<section class="contact">
    <div class="contact-container">
         <div class="contact-box">
              <h2>VAMOS A TRABAJAR JUNTOS</h2>
              <p class="desc">Si tienes un proyecto en mente, necesitas ayuda técnica
                o simplemente quieres saludar, no dudes en ponerte en contacto. 
                Estoy disponible para colaboraciones, freelance o cualquier consulta.
              </p>
              <div class="contact-detail">
                   <i class="bx bxs-phone"></i>
                   <div class="detail">
                        <p>Teléfono</p>
                        <p>(+34) 643 24 68 40</p>
                   </div>
              </div>


              <div class="contact-detail">
                   <i class="bx bxs-envelope"></i>
                   <div class="detail">
                        <p>Email</p>
                        <p> {{email}} </p>
                   </div>
              </div>


              <div class="contact-detail">
                   <i class="bx bxs-map"></i>
                   <div class="detail">
                        <p>Dirección</p>
                        <p>Madrid, España</p>
                   </div>
              </div>
         </div>


         <div class="contact-box">
              <form action="">
                    <h2 class="heading"><span>Contáctame</span></h2>
                    <div class="field-box">
                         <input type="text" placeholder="Nombre Completo" required> 
                         <input type="email" placeholder="Correo Electrónico" required> 
                         <input type="text" placeholder="Número de Teléfono" required> 
                         <input type="text" placeholder="Asunto del Correo" required> 
                         <textarea name="" id="" placeholder="Tu Mensaje"></textarea>
                    </div>
                    <button type="submit" class="btn">Enviar Mensaje</button>
              </form>
         </div>
    </div>
</section>
