/********************* CONTACT SECTION *******************/

.contact-container{
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    gap: 3rem;
}

.contact-container .contact-box:first-child{
    align-self: center;
}

.contact-box h2{
    font-size: 4.5rem;
}

.contact-box p{
    font-size: 1.6rem;
}

.contact-box .desc{
    margin: 1.5rem 0 2.5rem;
}

.contact-box .contact-detail{
    display: flex;
    align-items: center;
    margin: 2rem 0;
}

.contact-detail i{
    display: inline-flex;
    background: var(--second-bg-color);
    color: var(--main-color);
    font-size: 3rem;
    padding: 1.2rem;
    border-radius: .6rem;
    margin-right: 1.5rem;
}

.contact-detail .detail p:first-child{
    color: var(--main-color);
}

.contact-box form{
    background: var(--second-bg-color);
    padding: 2.5rem 3.5rem 3.5rem;
    border-radius: 1rem;
    text-align: center;
}

.contact-box .heading{
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

.heading span{
    color: var(--main-color);
}

.contact-box .field-box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}

.contact-box .field-box input,
.contact-box .field-box textarea{
    padding: 1.5rem;
    background: var(--bg-color);
    border: .15rem solid var(--bg-color);
    border-radius: .6rem;
    font-size: 1.6rem;
    color: var(--white-color);
}

.contact-box .field-box textarea{
    grid-column: 1 / -1;
    height: 26rem;
    resize: none;
}

.contact-box .field-box input:focus,
.contact-box .field-box textarea:focus{
    border-color: var(--main-color);
}

.contact-box .btn {
    margin-top: 2rem;
    cursor: pointer;
}

/****** BREAKPOINTS ******/ 

@media screen and (max-width: 992px){
    
    section{
        padding: 10rem 4% 2rem;
    }
}

@media screen and (max-width: 810) {
    .contact-box .field-box{
        grid-template-columns: 1fr;
    }
}


@media screen and (max-width: 768px) {
 
    .contact-container{
        grid-template-columns: 1fr;
    }

    .contact-box .field-box{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .contact-box .field-box{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 400px) {
    .contact-box form{
        padding: 2.5rem 3rem 3.5rem;
    }

    .contact-box h2{
        font-size: 3.5rem;
    }
}