<!-- HOME SECTION -->

<section class="home">
    <div class="home-detail">
      <h1>Luis Pichardo</h1>
      <h2>Soy
        <span style="--i:4" data-text="Programador">Programador</span>
        <span style="--i:3" data-text="Coder">Coder</span>
        <span style="--i:2" data-text="Creativo">Creativo</span>
        <span style="--i:1" data-text="Designer">Designer</span>
      </h2>
      <p>Soy un programador de 23 años apasionado por la tecnología y el desarrollo de soluciones digitales. 
        Desde el inicio de mi carrera, me he enfocado en aprender y aplicar las mejores prácticas de 
        programación para crear proyectos innovadores y funcionales. </p>
      <div class="btn-sci">
        <a href="/cv/LUIS PICHARDO CV...pdf" class="btn" download="LUIS PICHARDO CV">Descargar CV</a>
        <div class="sci">
          <a href="https://github.com/lui15" target="_blank"><i class='bx bxl-github' ></i></a>
          <a href="https://www.linkedin.com/in/luis-pichardo1515/" target="_blank"><i class='bx bxl-linkedin' ></i></a>
          <a href="https://www.instagram.com/l.pichardoo/" target="_blank"><i class='bx bxl-instagram-alt'></i></a>
          <a href="https://www.facebook.com/profile.php?id=100087297314276" target="_blank"><i class='bx bxl-facebook-circle' ></i></a>
        </div>
      </div>  
    </div>

    <div class="home-img">
         <div class="img-box">
              <div class="img-item">
                  <img src="imagen/home.png">
              </div>
         </div>
    </div>
</section>