<!-- SERVICES SECTION -->
 
<section class="services">
    <h2 class="heading">Mi <span>Servicios</span></h2>
    <div class="services-container">
         <div class="services-box">
          <div class="icon">
            <i class='bx bx-code-alt'></i>
            <a href="#"><i class='bx bx-arrow-back'></i></a>
          </div>
            <h3>Web Dev</h3>
            <p>Creo sitios web modernos, rápidos y adaptados a tus necesidades, con diseños atractivos y un 
              rendimiento óptimo para garantizar una experiencia profesional</p>
          </div>



          <div class="services-box">
            <div class="icon">
              <i class='bx bxs-paint'></i>
              <a href="#"><i class='bx bx-arrow-back'></i></a>
            </div>
              <h3>UI/UX</h3>
              <p>Diseño interfaces funcionales y atractivas, enfocadas en ofrecer experiencias de usuario 
                únicas y fáciles de usar, ideales para cualquier tipo de proyecto.</p>
            </div>



            <div class="services-box">
              <div class="icon">
                <i class='bx bx-palette'></i>
                <a href="#"><i class='bx bx-arrow-back'></i></a>
              </div>
                <h3>Diseño Gráfico</h3>
                <p>Diseño logotipos, banners y elementos visuales personalizados que ayudan a destacar 
                  la identidad de tu marca de manera profesional.</p>
              </div>



              <div class="services-box">
                <div class="icon">
                  <i class='bx bx-trending-up'></i>
                  <a href="#"><i class='bx bx-arrow-back'></i></a>
                </div>
                  <h3>SEA</h3>
                  <p>Optimizo sitios web para mejorar su visibilidad en motores de búsqueda, ayudándote 
                    a atraer más visitantes y aumentar tu presencia en línea.</p>
                </div>



                <div class="services-box">
                  <div class="icon">
                    <i class='bx bx-slideshow'></i>
                    <a href="#"><i class='bx bx-arrow-back'></i></a>
                  </div>
                    <h3>Consultoría</h3>
                    <p>Te asesoro en la selección de herramientas y estrategias tecnológicas que 
                      impulsarán el éxito de tus proyectos digitales.</p>
                  </div>



                  <div class="services-box">
                    <div class="icon">
                      <i class='bx bxs-cog'></i>
                      <a href="#"><i class='bx bx-arrow-back'></i></a>
                    </div>
                      <h3>Automatización</h3>
                      <p>Desarrollo soluciones personalizadas para automatizar tareas repetitivas y optimizar procesos, ahorrando tiempo y recursos.</p>
                    </div>

    </div>
</section>